{% extends 'semanticportal/base.html' %}
{% load branch_tags %}

{% block title %}
{{ course_content.course_name }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col-lg-3">
      <h3>Titles</h3>
      <ul>
        {% for lesson in course_content.lessons %}
          <li><a href="#{{ lesson.title|slugify }}">{{ lesson.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-lg-9">
      <h1>{{ course_content.course_name }}</h1>

      {% for lesson in course_content.lessons %}
        <h2 id="{{ lesson.title|slugify }}">{{ lesson.title }}</h2>

        {% with content=course_content.content|get:lesson.title %}
          <div class="content-markdown">{{ content.content|safe }}</div>
        {% endwith %}

      {% endfor %}
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/3.0.7/marked.min.js" integrity="sha512-a+W0h6Sho4fGYABZAQg6zdWP/qtyE+gzeVfNB/UApXRLuHKh7bT3TeA/LUOno+pcDjX0Vfzgtz6crFQC3YL9lA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".content-markdown").each(function(){
            var content = $(this).text();
            var markedContent = marked(content);
            $(this).html(markedContent);
        });
    });
</script>
<script>
  // Smooth scroll script
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });
</script>
{% endblock %}
