{% extends 'semanticportal/base.html' %}
{% load branch_tags %}

{%  block title %}
Select Branches
{% endblock %}

{%  block content %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <div class="container">
    <h1 class="mt-4 mb-3">Course for generation Chart GPT</h1>
    <button class="btn btn-primary btn-sm" type="button" id="check-all">Check All</button>
    <button class="btn btn-secondary btn-sm" type="button" id="uncheck-all">Uncheck All</button>

    <form method="post" action="{% url 'select_branches' %}">
        {% csrf_token %}

        <div class="mb-3 changeText">
            {{ form.as_p }}
        </div>

        <div class="mb-3">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>

    <script>
        $(document).ready(function () {
            // Check All
            $('#check-all').click(function () {
                $('.checkbox-select').prop('checked', true);
            });

            // Uncheck All
            $('#uncheck-all').click(function () {
                $('.checkbox-select').prop('checked', false);
            });
        });
    </script>

<script>
    $(document).ready(function () {
        // Iterate over each label within the form
        $('.mb-3 label').each(function () {
            // Get the input and label elements
            var inputElement = $(this).find('input');
            var labelText = $(this).text();

            // Capitalize the first letter of each word and replace hyphens with spaces
            labelText = labelText.replace(/-/g, ' ').replace(/\b\w/g, function (match) {
                return match.toUpperCase();
            });

            // Wrap the input with the label and set the modified text
            $(this).html('<div class="form-check">' +
                '<input class="form-check-input checkbox-select" type="checkbox" name="branch" value="' + inputElement.val() + '" style="height: 15px; width: 15px;" id="' + inputElement.attr('id') + '">' +
                '<label class="form-check-label" for="' + inputElement.attr('id') + '"><span class="branch-name">' + labelText + '</span></label>' +
                '</div>');
        });
    });
</script>


{% endblock %}
